<% include common/header.ejs %>

<div class="main-pizza">
    <div class="top-line">
        <span id="name-top-line">Усі піци</span>
        <span class="amount">8</span>
    </div>
    <div class="menu">
        <a href="#" id="all" class="btn  active">Усі</a>
        <a href="#" class="btn  new-but" id="meat">М'ясні</a>
        <a href="#" class="btn  new-but" id="pineapple">З ананасами</a>
        <a href="#" class="btn  new-but" id="mushrooms">З грибами</a>
        <a href="#" class="btn  new-but" id="seafood">З морепродуктами</a>
        <a href="#" class="btn  new-but" id="vega">Вега</a>
    </div>
    <div class="inner-container">
        <div class="row" id="pizza_list">

        </div>
    </div>
</div>


<% include common/rightPanel.ejs %>
<% include common/footer.ejs %>