<div class="right-panel" style="z-index: 10">
    <div class="top-part">
        <div class="row order">
            <div class="col-xs-6 " >
                <div class="left-part-order">
                    <span class="name">Замовлення</span>
                    <span class="amount-right">0</span>
                </div>
            </div>
            <div class="col-xs-6 clear_cl">
                <button href="#" id="clear" type="button"> <span >Очистити замовлення</span> </button>
            </div>
        </div>
    </div>
    <div class="main-part" id="cart">

    </div>
    <div class="bottom-part bottom-part-sec-vers" id="bottom-id">
        <div class="sum" id="sum-block">
            <div class="name-sum" >Сума замовлення</div>
            <div class="sum-price" >
                <span class="all-price">0 </span>
                <span>грн.</span></div>
        </div>
        <button href="#" id="active-order" class="btn  btn-default " disabled="disabled">Замовити</button>
    </div>
</div>